.homephoto {
    width: 30%;
  }

.dog-pic {
    width: 40%;
    align-items: left;
    padding-bottom: 15px;
}

.kidpage {
    text-decoration: darkslategray;
    font-style: oblique;
    font-weight: 500;
}

#kidheader {
    color: black;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#kidbanner {
    width: 100%;
    height: 300px;
}

.kidmain {
    background-color:lightblue;
}

#kidpagetopbody {
    display: flex;
    justify-content: space-between;
}