.homephoto {
    width: 30%;
  }

.dog-pic {
    width: 40%;
    align-items: left;
    padding-bottom: 15px;
}

.kidpage {
    text-decoration: darkslategray;
    font-style: oblique;
    font-weight: 500;
    color:floralwhite;
}

#kidheader {
    color: black;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#kidbanner {
    width: 100%;
    height: 300px;
}

.kidmain {
    background-color:black;
}

#kidpagetopbody {
    display: flex;
    justify-content: space-between;
}

.store-pics {
    width: 150px;
    height: 150px;
    padding: 0px;
}

#snack-layout {
    display: flex;
    justify-content: space-evenly;
    margin-right: 40x;
    color: floralwhite;
}

.pic-description {
    vertical-align: top;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#entire-store {
    color: red;
}

#calculating-header {
    color: whitesmoke;
}