.homephoto {
    width: 30%;
  }

.dog-pic {
    width: 40%;
    align-items: left;
    padding-bottom: 15px;
    box-shadow: 1px 1px 5px 1px grey;
}

.kidpage {
    text-decoration: darkslategray;
    font-style: oblique;
    font-weight: 500;
    color:floralwhite;
}

#kidheader {
    color: black;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#kidbanner {
    width: 100%;
    height: 300px;
}

.kidmain {
    background-color:black;
}

#kidpagetopbody {
    display: flex;
    justify-content:left;
}

.store-pics {
    width: 150px;
    margin-left: -55px;
    height: 150px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
    position:absolute;
    top: 1150px;
}

#snack-layout {
    height: 365px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 40x;
    color: floralwhite;
    background-image: url("https://wallpaperaccess.com/full/1489187.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pic-description {
    vertical-align: top;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#entire-store {
    color: red;
}

#calculating-header {
    color: whitesmoke;
}

.product-button {
    /* margin-left: 30px; */
    position:absolute;
    margin-left: 58px;
    top: 1325px;
    color:rgb(29, 207, 53);
}

#operations-buttons {
    margin-left: 235px;
    width: 100px;
    display:flex;
    justify-content: space-between;
}

.product-description {
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
}

#calculating-area {
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    color:lightseagreen;
}

#calculator-div {
    width: 350px;
    height: 350px;
}

#comparison-div {
    width: 350px;
    height: 350px;
}

#wishlist-div {
    width: 350px;
    height: 350px;
}

#go-to-wishlists-button {
    position: absolute;
    left: 5px;
    top: 115px;
}

#wishlist-pic-div {
    background: url("https://s.abcnews.com/images/Lifestyle/HT_christmas_wish_list_nt_131204_16x9_992.jpg");
    height: 100px;
}

#all-wishlists-page {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:seashell;
    height: 1000px;
}

#dog-div {
    height: 350px;
    width: 350px;
}

#chalkboard {
    font-size: 30px;
    color: #E8E8E8;
    font-family: "Walter Turncoat", cursive;
    display: block;
    width: 1000%;
    height: 100%;
    min-height: auto;
    /* margin: 10px auto 0 auto; */
    margin-right: 95px;
    margin-bottom: 10px;
    background-color: #497959;
    padding: 5px 5px;
    overflow-y: auto;
    box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: #B78240 solid 10px;
    background-color: #497959;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #ff0;
    overflow: hidden
}

/* youtube */
.video-responsive {
    margin-right: 20px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    margin-right: 30px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #shop-subtitle {
      color:blanchedalmond
  }

  #parent-page {
    background-color:lightsteelblue;
  }

  .spend-words {
      color: mediumvioletred
  }

  .save-words {
      color: green
  }

  #candy-words {
      color:red;
  }

  .wish-item-color {
      color: white
  }